@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add GreyCliff CF font faces */
@font-face {
  font-family: 'GreyCliff CF';
  src: url('/fonts/GreyCliffCF-Regular.woff2') format('woff2'),
       url('/fonts/GreyCliffCF-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GreyCliff CF';
  src: url('/fonts/GreyCliffCF-Bold.woff2') format('woff2'),
       url('/fonts/GreyCliffCF-Bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
}

/* Other font-face declarations for different weights */

/* Define your custom color scheme */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FBF8F2;
    --foreground: #ededed;
  }
}

/* Apply fonts and other base styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'GreyCliff CF', Arial, Helvetica, sans-serif; /* Updated font family */
}

/* Tailwind utility layer */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
